/* Content:
 *
	* without JavaScript 
	* simplery-box
 *
 */

/* 
 * without JavaScript 
 */
.simplery-box * {
	margin: 0;
	padding: 0;
}
.simplery-box ul,
.simplery-nojs ul {
	list-style: none;
	text-align: center;
}
.simplery-nojs ul * {
	text-align: left;
}
.simplery-box li,
.simplery-nojs li {
	display: inline-block;
}
.simplery-nojs.simplery-1 li {width: 99%;}
.simplery-nojs.simplery-2 li {width: 49%;}
.simplery-nojs.simplery-3 li {width: 33%;}
.simplery-nojs.simplery-4 li {width: 24%;}
.simplery-nojs.simplery-5 li {width: 19%;}
.simplery-nojs li>* {
	width:100%;
}
.simplery-nojs img {
	width:100%;
	border-radius: 2px;
}
.simplery-title {
	font-weight: bold;
}


/* 
 * simplery-box 
 */

.simplery-box li {
	position: relative;
	overflow: hidden;
	vertical-align:top;
}
.simplery-box li:hover {
	overflow: visible;
	z-index: 9999;
}
.simplery-box.simplery-1 li {width: 100%;}
.simplery-box.simplery-2 li {width: 50%;}
.simplery-box.simplery-3 li {width: 33.3%;}
.simplery-box.simplery-4 li {width: 25%;}
.simplery-box.simplery-5 li {width: 20%;}

.simplery-box img {
	width:100%;
	position: relative;
	top: 0; left: 0;
	-webkit-transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
	transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
}
.simplery-box li:hover img {
	position: absolute; top:0; left:0;
	box-shadow: 0px 0px 15px 5px #111;
	border-radius: 2px;
}
.simplery-box .simplery-title,
.simplery-box .simplery-description {
	display: none;
}
