/* Content:
 *
	* before JavaScript 
	* general 
	* simplery-box
	* simplery-fullscreen
	* simplery-help
 *
 */

/* 
 * before JavaScript 
 */
.simplery * {
	margin: 0;
	padding: 0;
}
.simplery img {
	width:100%;
}
.simplery ul {
	list-style: none;
	text-align: center;
}
.simplery-nojs ul * {
	text-align: left;
}
.simplery li {
	display: inline-block;
}
.simplery-nojs li {width: 24%;}
.simplery-nojs.simplery-1 li { width: 99%; }
.simplery-nojs.simplery-2 li { width: 49%; }
.simplery-nojs.simplery-3 li { width: 33%; }
.simplery-nojs.simplery-4 li { width: 24%; }
.simplery-nojs.simplery-5 li { width: 19%; }
.simplery-nojs.simplery-6 li { width: 16%; }
.simplery-nojs.simplery-7 li { width: 14%; }
.simplery-nojs.simplery-8 li { width: 12%; }
.simplery-nojs.simplery-9 li { width: 11%; }
.simplery-nojs.simplery-10 li { width: 9.5%; }
.simplery-nojs.simplery-11 li { width: 8.5%; }
.simplery-nojs li>* {
	width:100%;
}
.simplery-nojs img {
	width:100%;
	border-radius: 2px;
}
.simplery header {
	margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
	.simplery header {
		margin-top: 25px;
	}
}


/* 
 * general
 */
.simplery-title {
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.3em;
}
.simplery-description {
	font-size: 0.9em;
}
.simplery-img-title {
	font-weight: bold;
}
.simplery-menu {
	position: absolute;
	top: 5px; right: 5px;
	margin: 0!important;
	padding-left:10px;
	padding-right:10px;
	font-size: 18px;
	background:rgba(0,0,0,0.5);
	border-radius: 2px;	
}
.simplery-menu i {
	cursor: pointer;
	padding: 5px 10px;
}
.simplery-box .simplery-menu {
	z-index:9991;
}
.simplery-fullscreen .simplery-menu {
	z-index:9992;
}
.simplery-inactive {
	opacity: 0;
	cursor: default!important;
}


/* 
 * simplery-box 
 */

.simplery-box,
.simplery-fullscreen {
	position: relative;
}
.simplery-box li,
.simplery-fullscreen li {
	position: relative;
	overflow: hidden;
	vertical-align: top;
	margin: 0!important;
}
.simplery-box li:hover,
.simplery-fullscreen li:hover {
	overflow: visible;
	z-index: 9990;
}

.simplery-box.simplery-1 li,
.simplery-fullscreen.simplery-1 li {
	width: 100%;
}
.simplery-box.simplery-2 li,
.simplery-fullscreen.simplery-2 li {
	width: 50%;
}
.simplery-box.simplery-3 li,
.simplery-fullscreen.simplery-3 li {
	width: 33.3%;
}
.simplery-box.simplery-4 li,
.simplery-fullscreen.simplery-4 li {
	width: 25%;
}
.simplery-box.simplery-5 li,
.simplery-fullscreen.simplery-5 li {
	width: 20%;
}
.simplery-box.simplery-6 li,
.simplery-fullscreen.simplery-6 li {
	width: 16.6%;
}
.simplery-box.simplery-7 li,
.simplery-fullscreen.simplery-7 li {
	width: 14%;
}
.simplery-box.simplery-8 li,
.simplery-fullscreen.simplery-8 li {
	width: 12.5%;
}
.simplery-box.simplery-9 li,
.simplery-fullscreen.simplery-9 li {
	width: 11.111%;
}
.simplery-box.simplery-10 li,
.simplery-fullscreen.simplery-10 li {
	width: 10%;
}
.simplery-box.simplery-11 li,
.simplery-fullscreen.simplery-11 li {
	width: 9%;
}

.simplery-box img,
.simplery-fullscreen-grid img {
	position: relative;
	top: 0; left: 0;
	-webkit-transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
	transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
}
.simplery-box li:hover img,
.simplery-fullscreen-grid li:hover img {
	position: absolute;
	box-shadow: 0px 0px 15px 5px #111;
	border-radius: 2px;
}
.simplery-box .simplery-img-title,
.simplery-fullscreen .simplery-img-title,
.simplery-box .simplery-img-description,
.simplery-fullscreen .simplery-img-description {
	display: none;
}


/* 
 * simplery-fullscreen 
 */

.simplery-fullscreen {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	min-height:100px;
	overflow: scroll;

	z-index:9991;
	background:rgba(0,0,0,0.95);
	/*
	background:rgba(255,255,255,0.7);
	*/
}
.simplery-fullscreen img {
	width: auto;
	height: auto;
}
.simplery-fullscreen header {
	margin: 10px;
}

.simplery-fullscreen-single {
	overflow: hidden;
}
.simplery-fullscreen-single>* {
	position: absolute;
}
.simplery-fullscreen-single .simplery-fullscreen-prev:hover i,
.simplery-fullscreen-single .simplery-fullscreen-next:hover i {
	background:rgba(0,0,0,1);
	opacity: 1;
}

.simplery-fullscreen-active {
	top:10px; right:10px; bottom:50px; left:10px;
	text-align:center;
	overflow:hidden;
}
.simplery-fullscreen-active img {
	position: relative;
}

.simplery-fullscreen-prev,
.simplery-fullscreen-next {
	width:25%;
	top:15%; bottom:15%;
	vertical-align: center;

	cursor: pointer;
}
.simplery-fullscreen-prev { left:0; }
.simplery-fullscreen-next { right:0; }

.simplery-fullscreen-prev i,
.simplery-fullscreen-next i {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	font-size: 60px;
	width: 30px;
	padding: 0 15px;
	border-radius:30px;
	background:rgba(0,0,0,1);

	-webkit-transition: background 1s, opacity 1s;
	transition: background 1s, opacity 1s;

	opacity: 0;
/*
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-ms-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
*/
}
.simplery-fullscreen-prev i { left: 10%; }
.simplery-fullscreen-next i { right: 10%; padding: 0 8px 0 22px; }

.simplery-fullscreen-nav {
	width: 100%; height: auto;
	bottom: 0; top: auto;
	text-align: center;
	background:none;
}
.simplery-fullscreen-nav ul {
	width:100%;
	position: absolute;
	top: 60%;
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
	background:rgba(0,0,0,0.8);
}
.simplery-fullscreen-nav:hover ul {
	top: 3px;
}
.simplery-fullscreen-nav li {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0.5;
}
.simplery-fullscreen-nav li.active {
	opacity: 1;
	box-shadow: 0px 5px 5px 5px #000;
	z-index:9995;
	top: -3px;
	border-radius: 2px;
}
.simplery-fullscreen-nav li:hover {
	overflow: hidden;
	opacity:1;
}
.simplery-fullscreen-nav img {
	position: relative;
	top: 0; left: 0;
}
.simplery-fullscreen-nav li:hover img {

}


/* 
 * simplery-help 
 */

.simplery .simplery-help {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 !important;

	color: #ccc;
}
.simplery .simplery-help-bg {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 !important;

	border-radius: 2px;
	background:rgba(255,255,255,0.2);
}
.simplery .simplery-help a {
	color: #fff;
}
.simplery .simplery-help table {
	position: absolute;
	width: 300px;
	padding: 10px;
	left: 50%;
	margin-left: -155px !important;

	top:20%;
	background:rgba(0,0,0,0.9);
	border-radius: 5px;
}
.simplery .simplery-help td {
	padding: 10px;
	text-align: left;
}
.simplery .simplery-help td.simplery-help-key span {
	display: inline-block;
	width: 50px;
	padding: 15px 0;
	text-align: center;

	border-radius: 4px;
	color: #000;
	font-size:20px;
	background:rgba(255,255,255,0.8);
	box-shadow: 3px 3px 0px 0px rgba(255,255,255,0.6);
}
.simplery .simplery-help td.simplery-help-close {
	text-align: right;
	padding: 0;
}
.simplery .simplery-help td.simplery-help-info {
	padding-top:20px;
	font-size: 12px;
	text-align: center;
	color:#999;
}



/* prev, next preview animations */
.simplery-fullscreen-prev div,
.simplery-fullscreen-next div {
	position: absolute;
	top:25%; bottom:25%;
	width:50%;
}
.simplery-fullscreen-next div {right:0;}

.simplery-fullscreen-prev div img,
.simplery-fullscreen-next div img {
	position: absolute;;
	height:100%;

	-webkit-transition: right 1s, left 1s;
	transition: right 1s, left 1s;
	border-radius: 5px;
}
.simplery-fullscreen-prev div img {right:100%;}
.simplery-fullscreen-next div img {left:100%;}

.simplery-fullscreen-prev:hover img {right:0;}
.simplery-fullscreen-next:hover img {left:0;}


@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-ms-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}​