/* Content:
 *
	* before JavaScript 
	* general 
	* simplery-box
	* simplery-fullscreen
 *
 */

/* 
 * before JavaScript 
 */
.simplery * {
	margin: 0;
	padding: 0;
}
.simplery img {
	width:100%;
}
.simplery ul {
	list-style: none;
	text-align: center;
}
.simplery-nojs ul * {
	text-align: left;
}
.simplery li {
	display: inline-block;
}
.simplery-nojs li {width: 24%;}
.simplery-nojs.simplery-1 li {width: 99%;}
.simplery-nojs.simplery-2 li {width: 49%;}
.simplery-nojs.simplery-3 li {width: 33%;}
.simplery-nojs.simplery-4 li {width: 24%;}
.simplery-nojs.simplery-5 li {width: 19%;}
.simplery-nojs.simplery-6 li {width: 16%;}
.simplery-nojs.simplery-7 li {width: 14%;}
.simplery-nojs.simplery-8 li {width: 12%;}
.simplery-nojs li>* {
	width:100%;
}
.simplery-nojs img {
	width:100%;
	border-radius: 2px;
}
.simplery header {
	margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
	.simplery header {
		margin-top: 25px;
	}
}


/* 
 * general
 */
.simplery-title {
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.3em;
}
.simplery-description {
	font-size: 0.9em;
}
.simplery-img-title {
	font-weight: bold;
}
.simplery-menu {
	position: absolute;
	top: 10px; right: 10px;
	margin: 0!important;
	padding-left:10px;
	font-size: 1.1em;
	background:rgba(0,0,0,0.5);
	border-radius: 2px;	
}
.simplery-menu i {
	cursor: pointer;
	padding: 5px 10px 5px 0;
}
.simplery-box .simplery-menu {
	z-index:9991;
}
.simplery-fullscreen .simplery-menu {
	z-index:9992;
}


/* 
 * simplery-box 
 */

.simplery-box,
.simplery-fullscreen {
	position: relative;
}
.simplery-box li,
.simplery-fullscreen li {
	position: relative;
	overflow: hidden;
	vertical-align: top;
}
.simplery-box li:hover,
.simplery-fullscreen li:hover {
	overflow: visible;
	z-index: 9990;
}

.simplery-box.simplery-1 li,
.simplery-fullscreen.simplery-1 li {
	width: 100%;
}
.simplery-box.simplery-2 li,
.simplery-fullscreen.simplery-2 li {
	width: 50%;
}
.simplery-box.simplery-3 li,
.simplery-fullscreen.simplery-3 li {
	width: 33.3%;
}
.simplery-box.simplery-4 li,
.simplery-fullscreen.simplery-4 li {
	width: 25%;
}
.simplery-box.simplery-5 li,
.simplery-fullscreen.simplery-5 li {
	width: 20%;
}
.simplery-box.simplery-6 li,
.simplery-fullscreen.simplery-6 li {
	width: 16.6%;
}
.simplery-box.simplery-7 li,
.simplery-fullscreen.simplery-7 li {
	width: 14%;
}
.simplery-box.simplery-8 li,
.simplery-fullscreen.simplery-8 li {
	width: 12.5%;
}

.simplery-box img,
.simplery-fullscreen-grid img {
	position: relative;
	top: 0; left: 0;
	-webkit-transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
	transition: width 0.2s, height 0.2s, left 0.2s, top 0.2s;
}
.simplery-box li:hover img,
.simplery-fullscreen li:hover img {
	position: absolute; top:0; left:0;
	box-shadow: 0px 0px 15px 5px #111;
	border-radius: 2px;
}
.simplery-box .simplery-img-title,
.simplery-fullscreen .simplery-img-title,
.simplery-box .simplery-img-description,
.simplery-fullscreen .simplery-img-description {
	display: none;
}


/* 
 * simplery-fullscreen 
 */

.simplery-fullscreen {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	min-height:100px;
	overflow: scroll;

	z-index:9991;
	background:rgba(0,0,0,0.9);
	/*
	background:rgba(255,255,255,0.7);
	*/
}
.simplery-fullscreen img {
	width: auto;
	height: auto;
}
.simplery-fullscreen header {
	margin: 10px;
}


.simplery-fullscreen-single {
	overflow: hidden;
}
.simplery-fullscreen-single>* {
	position: absolute;
}
.simplery-fullscreen-single *:hover>i {

	background:rgba(0,0,0,1);

	opacity: 1;

}

.simplery-fullscreen-active {
	top:10px; right:10px; bottom:10px; left:10px;
	text-align:center;
	overflow:hidden;
}
.simplery-fullscreen-active img {
	position: relative;
}

.simplery-fullscreen-prev,
.simplery-fullscreen-next {
	width:30%;
	top:15%; bottom:15%;
	vertical-align: center;

	cursor: pointer;
}
.simplery-fullscreen-prev {left:0;}
.simplery-fullscreen-next {right:0;}
.simplery-fullscreen-prev i,
.simplery-fullscreen-next i {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	font-size: 60px;
	width: 30px;
	padding: 0 15px;
	border-radius:30px;
	background:rgba(0,0,0,0.3);

	-webkit-transition: background 1s, opacity 1s;
	transition: background 1s, opacity 1s;
	opacity: 0.2;
}
.simplery-fullscreen-prev i {left: 10%;}
.simplery-fullscreen-next i {right: 10%; padding: 0 8px 0 22px;
}

.simplery-fullscreen-nav {
	height:10%; width:100%;
	bottom:0;
}


/*
.simplery-fullscreen-single>* {
	background:rgba(0,0,0,0.5);
}
.simplery-fullscreen-single>*:hover {
	background:rgba(0,0,0,4);
}
.simplery-fullscreen-active {
	background:rgba(0,0,0,0.1);
}
.simplery-fullscreen-active:hover {
	background:rgba(0,0,0,0.3);
}
*/